
// BUTTONS
// ====================


button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.btn {
	display: inline-block;
	height: 45px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 fade(@dark_color, 10%);
	font-family: @font1;
	font-size: 12px;
	padding: 0 30px;
	color: @white_color;
	line-height: 45px;
	letter-spacing: 0.1em;
	white-space: nowrap;
	cursor: pointer;
	background: @primary_color;
	border: 1px transparent;
	border-radius: 4px;

	.transition();

	&:hover { background: lighten(@primary_color, 5%); }

	// dark
	&.btn-dark { background: @dark_color; }
	&.btn-dark:hover { background: lighten(@dark_color, 10%); }

	// facebook
	&.btn-facebook { background: @fb_color; }
	&.btn-facebook:hover { background: lighten(@fb_color, 10%); }

	// twitter
	&.btn-twitter { background: @tw_color; }
	&.btn-twitter:hover { background: lighten(@tw_color, 10%); }

	// google
	&.btn-google { background: @gp_color; }
	&.btn-google:hover { background: lighten(@gp_color, 10%); }
}
