
// COMMONS
// ====================


body {
	font-family: @font2;
	font-size: 18px;
	color: darken(@white_color, 60%);
	line-height: 1.6;
	background: @white_color;
	overflow-y: scroll;

	&.no-scroll {
		overflow: hidden;
		margin-right: 17px;
	}

	.responsive(600px, {
		font-size: 16px;
	});
}

::selection {
	color: @white_color;
	background: @dark_color;
}

::-moz-selection {
	color: @white_color;
	background: @dark_color;
}


// typography

h1, h2, h3, h4, h5, h6 {
	font-family: @font2;
	font-weight: 400;
	color: @dark_color;

	&:not(:last-child) {
		margin-bottom: 25px;
	}
}

h1.big { font-size: 80px; }

h1 { font-size: 50px; line-height: 1.2; }
h2 { font-size: 38px; line-height: 1.25; }
h3 { font-size: 32px; line-height: 1.3; }
h4 { font-size: 28px; line-height: 1.35; }
h5 { font-size: 24px; line-height: 1.5; }
h6 { font-size: 20px; line-height: 1.6; }

.responsive(800px, {
	h1 { font-size: 40px; line-height: 1.2; }
	h2 { font-size: 32px; line-height: 1.25; }
	h3 { font-size: 28px; line-height: 1.3; }
	h4 { font-size: 24px; line-height: 1.35; }
	h5 { font-size: 22px; line-height: 1.5; }
	h6 { font-size: 18px; line-height: 1.6; }
});

p:not(:last-child) {
	margin-bottom: 25px;
}

.mute { color: darken(@white_color, 40%); }

.smaller {
	display: block;
	text-transform: uppercase;
	font-family: @font1;
	font-size: 12px;
	font-weight: 600;
	color: @dark_color;
	letter-spacing: 3px;

	&:not(:last-child) {
		margin-bottom: 25px;
	}
}


// links

a.link {
	position: relative;
	color: @dark_color;

	&::before {
		content: '';
		width: 110%;
		position: absolute;
		top: 50%;
		bottom: 0;
		left: -5%;
		z-index: -1;
		background: darken(@white_color, 10%);

		.transition();
	}

	&:hover::before {
		width: 0;
	}
}


// Embedded content

figure {
	position: relative;

	figcaption {
		position: absolute;
		right: 25px;
		bottom: 25px;
		font-family: @font1;
		font-size: 12px;
		color: @dark_color;
		padding: 5px 10px;
		background: @white_color;
	}
}


// lists

ul,
ol {
	&:not(:last-child) {
		margin-bottom: 25px;
	}
}


// blockquotes

blockquote {
	padding: 25px 0;
	margin: 0 -50px;

	&:not(:last-child) {
		margin-bottom: 25px;
	}

	p {
		text-align: center;
		font-size: 28px;
		font-style: italic;
		color: @dark_color;
	}

	.responsive(800px, {
		margin-right: 0;
		margin-left: 0;
	});
}


// tables

table { width: 100%; }

th,
td {
	border-top: 1px solid darken(@white_color, 10%);
	border-bottom: 1px solid darken(@white_color, 10%);
}

th { text-align: left; }
td { padding: 10px 0; }


// wrapper

#wrapper {
	padding-left: @header_width;
	position: relative;

	.responsive(800px, {
		padding-left: 80px;
	});

	.responsive(600px, {
		padding-top: 80px;
		padding-left: 0;
	});

	&::before {
		content: '';
		position: fixed;
		top: 0;
		right: 17px;
		bottom: 0;
		left: 0;
		z-index: 10;
		background: fade(@dark_color, 70%);
		cursor: pointer;
		opacity: 0;
		visibility: hidden;

		.transition();
	}

	&.fade::before {
		opacity: 1;
		visibility: visible;
	}
}


// sections

.section {
	position: relative;
	padding: 150px 0;

	&.pt-0 { padding-top: 0; }
	&.pb-0 { padding-bottom: 0; }

	&.pt-100 { padding-top: 100px; }
	&.pb-100 { padding-bottom: 100px; }

	&.bg-grey { background: darken(@white_color, 5%); }

	.responsive(800px, {
		padding: 100px 0;
	});
}


// overlays

.overlay {
	display: table;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	&[data-overlay]::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;

		.transition();
	}

	&[data-overlay].hidden::before {
		opacity: 0;
		visibility: hidden;
	}

	&.hidden:hover::before {
		opacity: 1;
		visibility: visible;
	}

	.overlay-content {
		display: table-cell;
		position: relative;
		padding: 5vw;

		.transition();

		&.center { vertical-align: middle; }
		&.bottom { vertical-align: bottom; }
	}

	&.hidden .overlay-content { opacity: 0; }
	&.hidden:hover .overlay-content { opacity: 1; }

	* { z-index: 2; }
}

[data-overlay="10"]::before { background: @dark_color; }
[data-overlay="9"]::before { background: fade(@dark_color, 90%); }
[data-overlay="8"]::before { background: fade(@dark_color, 80%); }
[data-overlay="7"]::before { background: fade(@dark_color, 70%); }
[data-overlay="6"]::before { background: fade(@dark_color, 60%); }
[data-overlay="5"]::before { background: fade(@dark_color, 50%); }
[data-overlay="4"]::before { background: fade(@dark_color, 40%); }
[data-overlay="3"]::before { background: fade(@dark_color, 30%); }
[data-overlay="2"]::before { background: fade(@dark_color, 20%); }
[data-overlay="1"]::before { background: fade(@dark_color, 10%); }


// helpers

.float {
	&--left { float: left; }
	&--right { float: right; }
}

.text {
	&--left { text-align: left; }
	&--center { text-align: center; }
	&--right { text-align: right; }

	&--color { color: @primary_color; }
}

.light-content {
	color: @white_color;

	h1, h2, h3, h4, h5, h6,
	.smaller {
		color: @white_color;
	}
}

.block-space {
	display: block;
	height: 50px;
}


// owl sliders
.owl-nav {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	z-index: 1;

	.owl-prev,
	.owl-next {
		width: 50px;
		height: 100px;
		position: absolute;
		top: 50%;
		margin-top: -50px;
		background: @white_color;
		box-shadow: 0 1px 1px fade(@dark_color, 10%);

		&::before {
			content: '';
			width: 10px;
			height: 10px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -5px 0 0 -5px;

			transform: rotate(45deg);
		}
	}

	.owl-prev { left: 0; }
	.owl-next { right: 0; }

	.owl-prev::before {
		border-bottom: 2px solid @dark_color;
		border-left: 2px solid @dark_color;
	}

	.owl-next::before {
		border-top: 2px solid @dark_color;
		border-right: 2px solid @dark_color;
	}
}
