
// FORMS
// ====================


.form-group:not(:last-child) {
	margin-bottom: 25px;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	display: block;
	width: 100%;
	max-width: 100%;
	font-family: @font1;
	font-size: 16px;
	padding: 10px 25px;
	line-height: 30px;
	border: 1px solid darken(@white_color, 15%);

	.transition();

	&:focus {
		border-color: darken(@white_color, 20%);
		box-shadow: 0 1px 2px fade(@dark_color, 10%);
	}
}

textarea { min-height: 120px; }

// placeholder
input[type],
textarea,
select {
	&::-webkit-input-placeholder { color: darken(@white_color, 30%); }
	&::-moz-input-placeholder { color: darken(@white_color, 30%); }
	&:-moz-input-placeholder { color: darken(@white_color, 30%); }
	&:-ms-input-placeholder { color: darken(@white_color, 30%); }
}
