
// HEADER
// ====================


#header {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background: @white_color;
	border-right: 1px solid darken(@white_color, 15%);

	.transition(all, 0.7s, cubic-bezier(0.7, 0, 0.3, 1));


	.sidebar {
		width: @header_width;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}


	// loader
	.sidebar .loader {
		width: 16px;
		height: 16px;
		position: absolute;
		top: 50px;
		left: 50%;
		margin-left: -8px;
		border-radius: 50%;
		border: 2px solid @dark_color;
		border-top: 2px solid transparent;
		border-right: 2px solid transparent;

		animation: loader 0.7s infinite linear;
	}

	@keyframes loader {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}


	// trigger
	.sidebar .trigger {
		width: 18px;
		height: 16px;
		position: absolute;
		top: 50px;
		left: 50%;
		margin-left: -9px;
		cursor: pointer;
		opacity: 0;
		visibility: hidden;

		.transition();

		.icon-bar {
			width: 0;
			height: 2px;
			position: absolute;
			left: 0;
			background: @dark_color;

			.transition();

			&.top { top: 0; }
			&.middle { top: 50%; margin-top: -1px; }
			&.bottom { bottom: 0; }
		}
	}


	// logo
	.sidebar .logo {
		width: 40px;
		position: absolute;
		bottom: 50px;
		left: 50%;
		margin-left: -20px;
	}


	&.loaded {
		width: @header_width;

		.sidebar .trigger {
			opacity: 1;
			visibility: visible;

			.icon-bar { width: 100%; }
		}
	}

	&.open {
		width: 40%;

		.sidebar .trigger .icon-bar.middle { width: 0; }
		.sidebar .trigger .icon-bar.top { top: 50%; margin-top: -1px; transform: rotate(45deg); }
		.sidebar .trigger .icon-bar.bottom { bottom: 50%; margin-bottom: -1px; transform: rotate(135deg); }
	}


	// nav
	.site-nav {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: @header_width;
		opacity: 0;
		visibility: hidden;

		.transition();

		&.visible {
			left: 120px;
			opacity: 1;
			visibility: visible;
		}

		.nav__content {
			position: absolute;
			top: 50%;

			transform: translateY(-50%);
		}

		.menu li a {
			font-family: @font1;
			font-size: 24px;
			font-weight: 600;
			color: @dark_color;
		}

		.menu li .sub-menu {
			display: none;
			margin-left: 30px;
		}

		.menu li .sub-menu li a {
			font-size: 14px;
			font-weight: normal;
			color: inherit;
		}

		.copy { margin-top: 100px; }
	}


	.responsive(800px, {
		.sidebar { width: 80px; }
		&.loaded { width: 80px; }
		&.open { width: 70%; }
	});

	.responsive(600px, {
		border-right: 0;
		border-bottom: 1px solid darken(@white_color, 10%);

		.sidebar { width: 100%; height: 80px; }

		.sidebar .loader,
		.sidebar .trigger {
			top: 50%;
			left: 30px;
			margin-top: -8px;
			margin-left: 0;
		}

		.sidebar .logo {
			top: 50%;
			right: 30px;
			bottom: auto;
			left: auto;
			margin: 0;

			transform: translateY(-50%);
		}

		&.loaded { width: 100%; height: 80px; }
		&.open { height: 100%; }

		.site-nav {
			top: 80px;
			left: 0;

			&.visible { left: 50px; }
		}
	});
}
