
// JOURNAL
// ====================

.post {
	&:not(:last-child) {
		margin-bottom: 150px;
	}

	.post__image {
		margin-bottom: 50px;
	}

	.post__comments {
		margin-top: 100px;

		.comment {
			.user {
				width: 60px;
				float: left;

				img { border-radius: 100%; }
			}

			.content {
				padding-left: 100px;
				padding-bottom: 25px;
				margin-bottom: 25px;
				border-bottom: 1px solid darken(@white_color, 10%);

				.name {
					font-family: @font1;
					font-weight: 600;
					color: @dark_color;
				}

				.name + span {
					display: block;
					opacity: 0.7;
					margin-bottom: 25px;
				}
			}

			.comments {
				padding-left: 50px;
			}

			.responsive(600px, {
				.user { width: 40px; }
				.content { padding-left: 60px; }
				.comments { padding-left: 0; }
			});
		}
	}
}


// metas
.entry-metas .meta {
	display: block;

	&:not(:last-child) {
		margin-bottom: 25px;
	}

	.smaller {
		margin-bottom: 5px;
	}
}


// tags
.tags {
	margin-top: 50px;

	span {
		display: block;
		font-size: 22px;
		font-style: italic;
		color: darken(@white_color, 30%);
		margin-bottom: 15px;
	}

	a {
		display: inline-block;
		padding: 5px 15px;
		border: 1px solid darken(@white_color, 20%);
		border-radius: 1px;

		&:not(:last-child) { margin-right: 5px; }

		.transition();

		&:hover { border-color: darken(@white_color, 50%); }
	}
}
