
// MIXINS
// ====================


.transition(@rule: all, @duration: 0.3s, @timing-function: ease) {
	-webkit-transition: @arguments;
	-moz-transition: @arguments;
	-ms-transition: @arguments;
	-o-transition: @arguments;
	transition: @arguments;
}

.responsive(@media, @rules) {
	@media (max-width: @media) {
		@rules();
	}
}
