
// PORTFOLIO
// ====================


.work-entry {
	.entry__image { .transition(); }
	&:hover .entry__image { transform: scale(1.1); }

	.overlay-content {
		padding: 50px;

		.project-subtitle {
			color: @primary_color;
			position: relative;
			top: 30px;
			margin-bottom: 15px;

			.transition();
		}

		.project-title {
			color: @white_color;
			position: relative;
			top: 50px;

			.transition();
		}
	}

	&:hover .overlay {
		.overlay-content .project-subtitle,
		.overlay-content .project-title { top: 0; }
	}
}


// filters
.filters {
	position: fixed;
	top: 50px;
	right: 50px;
	z-index: 5;
	min-width: 180px;
	text-align: right;

	li {
		display: block;
		text-transform: uppercase;
		font-family: @font1;
		font-size: 14px;
		font-weight: 600;
		color: @dark_color;
		background: @white_color;
		cursor: pointer;

		&.selected {
			box-shadow: 0 1px 1px fade(@dark_color, 10%);
			padding: 10px;
		}
	}

	ul {
		width: 100%;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 100%;
		left: 0;
		margin-top: 15px;
		box-shadow: 0 1px 1px fade(@dark_color, 10%);

		.transition();
	}

	li.selected:hover ul {
		opacity: 1;
		visibility: visible;
		margin-top: 0;
	}

	li a {
		display: block;
		padding: 10px;

		.transition();

		&:hover,
		&.active { background: darken(@white_color, 5%); }
	}

	.responsive(800px, {
		display: none;
	});
}
