
// SOCIAL
// ====================


// share
.share {
	li {
		display: inline-block;
		position: relative;

		&:not(:last-child) {
			margin-right: 5px;
		}

		.responsive(600px, {
			display: block;

			&:not(:last-child) {
				margin-bottom: 5px;
			}
		});
	}
}
