
/** ==============================

Project: Kovan
Last change: 10/08/2017

[TABLE OF CONTENTS]

01. GRID
02. COMMONS
03. BUTTONS
04. FORMS
05. HEADER
06. PORTFOLIO
07. JOURNAL
08. HEROS
09. SOCIAL

============================== **/


// VARIABLES

@white_color: #ffffff;
@dark_color: #000000;
@primary_color: #ffcc00;
@fb_color: #4d70a8;
@tw_color: #00bbf2;
@gp_color: #e3401d;

@font1: 'Source Sans Pro';
@font2: 'Unna';

@header_width: 90px;
@header_width_open: 40%;


// IMPORTS

@import '_mixins.less';


/** 01. GRID
==================== **/
@import '_grid.less';

/** 02. COMMONS
==================== **/
@import '_commons.less';

/** 03. BUTTONS
==================== **/
@import '_buttons.less';

/** 04. FORMS
==================== **/
@import '_forms.less';

/** 05. HEADER
==================== **/
@import '_header.less';

/** 06. PORTFOLIO
==================== **/
@import '_portfolio.less';

/** 07. JOURNAL
==================== **/
@import '_journal.less';

/** 08. HEROS
==================== **/
@import '_heros.less';

/** 09. SOCIAL
==================== **/
@import '_social.less';
