/** ==============================

Project: Kovan
Last change: 10/08/2017

[TABLE OF CONTENTS]

01. GRID
02. COMMONS
03. BUTTONS
04. FORMS
05. HEADER
06. PORTFOLIO
07. JOURNAL
08. HEROS
09. SOCIAL

============================== **/



/** 01. GRID
==================== **/
.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.column {
  float: left;
  position: relative;
  padding: 0 25px;
}

.column.col-1 {
  width: 8.333%;
}

.column.col-2 {
  width: 16.666%;
}

.column.col-3 {
  width: 24.999%;
}

.column.col-4 {
  width: 33.332%;
}

.column.col-5 {
  width: 41.665%;
}

.column.col-6 {
  width: 49.998%;
}

.column.col-7 {
  width: 58.331%;
}

.column.col-8 {
  width: 66.664%;
}

.column.col-9 {
  width: 74.997%;
}

.column.col-10 {
  width: 83.33%;
}

.column.col-11 {
  width: 91.663%;
}

.column.col-12 {
  width: 100%;
}

.column.offset-1 {
  margin-left: 8.333%;
}

.column.offset-2 {
  margin-left: 16.666%;
}

.column.offset-3 {
  margin-left: 24.999%;
}

.column.offset-4 {
  margin-left: 33.332%;
}

.column.offset-5 {
  margin-left: 41.665%;
}

.column.offset-6 {
  margin-left: 49.998%;
}

.column.offset-7 {
  margin-left: 58.331%;
}

.column.offset-8 {
  margin-left: 66.664%;
}

.column.offset-9 {
  margin-left: 74.997%;
}

.column.offset-10 {
  margin-left: 83.33%;
}

.column.offset-11 {
  margin-left: 91.663%;
}

@media (max-width:800px) {
  .column {
    float: none;
    width: 100% !important;
    padding: 0 !important;
    margin-left: 0 !important;
  }

  .column:not(:last-child) {
    margin-bottom: 50px;
  }

}

.row {
  display: block;
  margin: 0 -25px;
}

.row:not(:last-child) {
  margin-bottom: 50px;
}

@media (max-width:800px) {
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .row:not(:last-child) {
    margin-bottom: 50px;
  }

}

.container::after,
.row::after,
.clear::after {
  content: '';
  display: table;
  clear: both;
}

/** 02. COMMONS
==================== **/
body {
  font-family: 'Unna';
  font-size: 18px;
  color: #666666;
  line-height: 1.6;
  background: #ffffff;
  overflow-y: scroll;
}

body.no-scroll {
  overflow: hidden;
  margin-right: 17px;
}

@media (max-width:600px) {
  body {
    font-size: 16px;
  }

}

::selection {
  color: #ffffff;
  background: #000000;
}

::-moz-selection {
  color: #ffffff;
  background: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Unna';
  font-weight: 400;
  color: #000000;
}

h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
h4:not(:last-child),
h5:not(:last-child),
h6:not(:last-child) {
  margin-bottom: 25px;
}

h1.big {
  font-size: 80px;
}

h1 {
  font-size: 50px;
  line-height: 1.2;
}

h2 {
  font-size: 38px;
  line-height: 1.25;
}

h3 {
  font-size: 32px;
  line-height: 1.3;
}

h4 {
  font-size: 28px;
  line-height: 1.35;
}

h5 {
  font-size: 24px;
  line-height: 1.5;
}

h6 {
  font-size: 20px;
  line-height: 1.6;
}

@media (max-width:800px) {
  h1 {
    font-size: 40px;
    line-height: 1.2;
  }

  h2 {
    font-size: 32px;
    line-height: 1.25;
  }

  h3 {
    font-size: 28px;
    line-height: 1.3;
  }

  h4 {
    font-size: 24px;
    line-height: 1.35;
  }

  h5 {
    font-size: 22px;
    line-height: 1.5;
  }

  h6 {
    font-size: 18px;
    line-height: 1.6;
  }

}

p:not(:last-child) {
  margin-bottom: 25px;
}

.mute {
  color: #999999;
}

.smaller {
  display: block;
  text-transform: uppercase;
  font-family: 'Source Sans Pro';
  font-size: 12px;
  font-weight: 600;
  color: #000000;
  letter-spacing: 3px;
}

.smaller:not(:last-child) {
  margin-bottom: 25px;
}

a.link {
  position: relative;
  color: #000000;
}

a.link::before {
  content: '';
  width: 110%;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: -5%;
  z-index: -1;
  background: #e6e6e6;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a.link:hover::before {
  width: 0;
}

figure {
  position: relative;
}

figure figcaption {
  position: absolute;
  right: 25px;
  bottom: 25px;
  font-family: 'Source Sans Pro';
  font-size: 12px;
  color: #000000;
  padding: 5px 10px;
  background: #ffffff;
}

ul:not(:last-child),
ol:not(:last-child) {
  margin-bottom: 25px;
}

blockquote {
  padding: 25px 0;
  margin: 0 -50px;
}

blockquote:not(:last-child) {
  margin-bottom: 25px;
}

blockquote p {
  text-align: center;
  font-size: 28px;
  font-style: italic;
  color: #000000;
}

@media (max-width:800px) {
  blockquote {
    margin-right: 0;
    margin-left: 0;
  }

}

table {
  width: 100%;
}

th,
td {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

th {
  text-align: left;
}

td {
  padding: 10px 0;
}

#wrapper {
  padding-left: 90px;
  position: relative;
}

@media (max-width:800px) {
  #wrapper {
    padding-left: 80px;
  }

}

@media (max-width:600px) {
  #wrapper {
    padding-top: 80px;
    padding-left: 0;
  }

}

#wrapper::before {
  content: '';
  position: fixed;
  top: 0;
  right: 17px;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#wrapper.fade::before {
  opacity: 1;
  visibility: visible;
}

.section {
  position: relative;
  padding: 150px 0;
}

.section.pt-0 {
  padding-top: 0;
}

.section.pb-0 {
  padding-bottom: 0;
}

.section.pt-100 {
  padding-top: 100px;
}

.section.pb-100 {
  padding-bottom: 100px;
}

.section.bg-grey {
  background: #f2f2f2;
}

@media (max-width:800px) {
  .section {
    padding: 100px 0;
  }

}

.overlay {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay[data-overlay]::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.overlay[data-overlay].hidden::before {
  opacity: 0;
  visibility: hidden;
}

.overlay.hidden:hover::before {
  opacity: 1;
  visibility: visible;
}

.overlay .overlay-content {
  display: table-cell;
  position: relative;
  padding: 5vw;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.overlay .overlay-content.center {
  vertical-align: middle;
}

.overlay .overlay-content.bottom {
  vertical-align: bottom;
}

.overlay.hidden .overlay-content {
  opacity: 0;
}

.overlay.hidden:hover .overlay-content {
  opacity: 1;
}

.overlay * {
  z-index: 2;
}

[data-overlay="10"]::before {
  background: #000000;
}

[data-overlay="9"]::before {
  background: rgba(0, 0, 0, 0.9);
}

[data-overlay="8"]::before {
  background: rgba(0, 0, 0, 0.8);
}

[data-overlay="7"]::before {
  background: rgba(0, 0, 0, 0.7);
}

[data-overlay="6"]::before {
  background: rgba(0, 0, 0, 0.6);
}

[data-overlay="5"]::before {
  background: rgba(0, 0, 0, 0.5);
}

[data-overlay="4"]::before {
  background: rgba(0, 0, 0, 0.4);
}

[data-overlay="3"]::before {
  background: rgba(0, 0, 0, 0.3);
}

[data-overlay="2"]::before {
  background: rgba(0, 0, 0, 0.2);
}

[data-overlay="1"]::before {
  background: rgba(0, 0, 0, 0.1);
}

.float--left {
  float: left;
}

.float--right {
  float: right;
}

.text--left {
  text-align: left;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--color {
  color: #ffcc00;
}

.light-content {
  color: #ffffff;
}

.light-content h1,
.light-content h2,
.light-content h3,
.light-content h4,
.light-content h5,
.light-content h6,
.light-content .smaller {
  color: #ffffff;
}

.block-space {
  display: block;
  height: 50px;
}

.owl-nav {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 1;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  width: 50px;
  height: 100px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  background: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.owl-nav .owl-prev::before,
.owl-nav .owl-next::before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -5px;
  transform: rotate(45deg);
}

.owl-nav .owl-prev {
  left: 0;
}

.owl-nav .owl-next {
  right: 0;
}

.owl-nav .owl-prev::before {
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
}

.owl-nav .owl-next::before {
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
}

/** 03. BUTTONS
==================== **/
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.btn {
  display: inline-block;
  height: 45px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  font-family: 'Source Sans Pro';
  font-size: 12px;
  padding: 0 30px;
  color: #ffffff;
  line-height: 45px;
  letter-spacing: 0.1em;
  white-space: nowrap;
  cursor: pointer;
  background: #ffcc00;
  border: 1px transparent;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.btn:hover {
  background: #ffd11a;
}

button.btn-dark,
input[type="submit"].btn-dark,
input[type="reset"].btn-dark,
input[type="button"].btn-dark,
.btn.btn-dark {
  background: #000000;
}

button.btn-dark:hover,
input[type="submit"].btn-dark:hover,
input[type="reset"].btn-dark:hover,
input[type="button"].btn-dark:hover,
.btn.btn-dark:hover {
  background: #1a1a1a;
}

button.btn-facebook,
input[type="submit"].btn-facebook,
input[type="reset"].btn-facebook,
input[type="button"].btn-facebook,
.btn.btn-facebook {
  background: #4d70a8;
}

button.btn-facebook:hover,
input[type="submit"].btn-facebook:hover,
input[type="reset"].btn-facebook:hover,
input[type="button"].btn-facebook:hover,
.btn.btn-facebook:hover {
  background: #6c8bbc;
}

button.btn-twitter,
input[type="submit"].btn-twitter,
input[type="reset"].btn-twitter,
input[type="button"].btn-twitter,
.btn.btn-twitter {
  background: #00bbf2;
}

button.btn-twitter:hover,
input[type="submit"].btn-twitter:hover,
input[type="reset"].btn-twitter:hover,
input[type="button"].btn-twitter:hover,
.btn.btn-twitter:hover {
  background: #26ceff;
}

button.btn-google,
input[type="submit"].btn-google,
input[type="reset"].btn-google,
input[type="button"].btn-google,
.btn.btn-google {
  background: #e3401d;
}

button.btn-google:hover,
input[type="submit"].btn-google:hover,
input[type="reset"].btn-google:hover,
input[type="button"].btn-google:hover,
.btn.btn-google:hover {
  background: #e9664a;
}

/** 04. FORMS
==================== **/
.form-group:not(:last-child) {
  margin-bottom: 25px;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  display: block;
  width: 100%;
  max-width: 100%;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  padding: 10px 25px;
  line-height: 30px;
  border: 1px solid #d9d9d9;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border-color: #cccccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 120px;
}

input[type]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: #b3b3b3;
}

input[type]::-moz-input-placeholder,
textarea::-moz-input-placeholder,
select::-moz-input-placeholder {
  color: #b3b3b3;
}

input[type]:-moz-input-placeholder,
textarea:-moz-input-placeholder,
select:-moz-input-placeholder {
  color: #b3b3b3;
}

input[type]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #b3b3b3;
}

/** 05. HEADER
==================== **/
#header {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #ffffff;
  border-right: 1px solid #d9d9d9;
  -webkit-transition: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
  -ms-transition: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
}

#header .sidebar {
  width: 90px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#header .sidebar .loader {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -8px;
  border-radius: 50%;
  border: 2px solid #000000;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  animation: loader 0.7s infinite linear;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

#header .sidebar .trigger {
  width: 18px;
  height: 16px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -9px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#header .sidebar .trigger .icon-bar {
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  background: #000000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#header .sidebar .trigger .icon-bar.top {
  top: 0;
}

#header .sidebar .trigger .icon-bar.middle {
  top: 50%;
  margin-top: -1px;
}

#header .sidebar .trigger .icon-bar.bottom {
  bottom: 0;
}

#header .sidebar .logo {
  width: 40px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -20px;
}

#header.loaded {
  width: 90px;
}

#header.loaded .sidebar .trigger {
  opacity: 1;
  visibility: visible;
}

#header.loaded .sidebar .trigger .icon-bar {
  width: 100%;
}

#header.open {
  width: 40%;
}

#header.open .sidebar .trigger .icon-bar.middle {
  width: 0;
}

#header.open .sidebar .trigger .icon-bar.top {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}

#header.open .sidebar .trigger .icon-bar.bottom {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(135deg);
}

#header .site-nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 90px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#header .site-nav.visible {
  left: 120px;
  opacity: 1;
  visibility: visible;
}

#header .site-nav .nav__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#header .site-nav .menu li a {
  font-family: 'Source Sans Pro';
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}

#header .site-nav .menu li .sub-menu {
  display: none;
  margin-left: 30px;
}

#header .site-nav .menu li .sub-menu li a {
  font-size: 14px;
  font-weight: normal;
  color: inherit;
}

#header .site-nav .copy {
  margin-top: 100px;
}

@media (max-width:800px) {
  #header .sidebar {
    width: 80px;
  }

  #header.loaded {
    width: 80px;
  }

  #header.open {
    width: 70%;
  }

}

@media (max-width:600px) {
  #header {
    border-right: 0;
    border-bottom: 1px solid #e6e6e6;
  }

  #header .sidebar {
    width: 100%;
    height: 80px;
  }

  #header .sidebar .loader,
  #header .sidebar .trigger {
    top: 50%;
    left: 30px;
    margin-top: -8px;
    margin-left: 0;
  }

  #header .sidebar .logo {
    top: 50%;
    right: 30px;
    bottom: auto;
    left: auto;
    margin: 0;
    transform: translateY(-50%);
  }

  #header.loaded {
    width: 100%;
    height: 80px;
  }

  #header.open {
    height: 100%;
  }

  #header .site-nav {
    top: 80px;
    left: 0;
  }

  #header .site-nav.visible {
    left: 50px;
  }

}

/** 06. PORTFOLIO
==================== **/
.work-entry .entry__image {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.work-entry:hover .entry__image {
  transform: scale(1.1);
}

.work-entry .overlay-content {
  padding: 50px;
}

.work-entry .overlay-content .project-subtitle {
  color: #ffcc00;
  position: relative;
  top: 30px;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.work-entry .overlay-content .project-title {
  color: #ffffff;
  position: relative;
  top: 50px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.work-entry:hover .overlay .overlay-content .project-subtitle,
.work-entry:hover .overlay .overlay-content .project-title {
  top: 0;
}

.filters {
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 5;
  min-width: 180px;
  text-align: right;
}

.filters li {
  display: block;
  text-transform: uppercase;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  background: #ffffff;
  cursor: pointer;
}

.filters li.selected {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.filters ul {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.filters li.selected:hover ul {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}

.filters li a {
  display: block;
  padding: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.filters li a:hover,
.filters li a.active {
  background: #f2f2f2;
}

@media (max-width:800px) {
  .filters {
    display: none;
  }

}

/** 07. JOURNAL
==================== **/
.post:not(:last-child) {
  margin-bottom: 150px;
}

.post .post__image {
  margin-bottom: 50px;
}

.post .post__comments {
  margin-top: 100px;
}

.post .post__comments .comment .user {
  width: 60px;
  float: left;
}

.post .post__comments .comment .user img {
  border-radius: 100%;
}

.post .post__comments .comment .content {
  padding-left: 100px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e6e6e6;
}

.post .post__comments .comment .content .name {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  color: #000000;
}

.post .post__comments .comment .content .name + span {
  display: block;
  opacity: 0.7;
  margin-bottom: 25px;
}

.post .post__comments .comment .comments {
  padding-left: 50px;
}

@media (max-width:600px) {
  .post .post__comments .comment .user {
    width: 40px;
  }

  .post .post__comments .comment .content {
    padding-left: 60px;
  }

  .post .post__comments .comment .comments {
    padding-left: 0;
  }

}

.entry-metas .meta {
  display: block;
}

.entry-metas .meta:not(:last-child) {
  margin-bottom: 25px;
}

.entry-metas .meta .smaller {
  margin-bottom: 5px;
}

.tags {
  margin-top: 50px;
}

.tags span {
  display: block;
  font-size: 22px;
  font-style: italic;
  color: #b3b3b3;
  margin-bottom: 15px;
}

.tags a {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #cccccc;
  border-radius: 1px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tags a:not(:last-child) {
  margin-right: 5px;
}

.tags a:hover {
  border-color: #808080;
}

/** 08. HEROS
==================== **/
.hero {
  position: relative;
}

.hero .hero--content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/** 09. SOCIAL
==================== **/
.share li {
  display: inline-block;
  position: relative;
}

.share li:not(:last-child) {
  margin-right: 5px;
}

@media (max-width:600px) {
  .share li {
    display: block;
  }

  .share li:not(:last-child) {
    margin-bottom: 5px;
  }

}
