
*,
*::before,
*::after {
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;

	box-sizing: border-box;
}

html {
	font-family: sans-serif;

	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	overflow-x: hidden;
}


/** Display definitions
================================================== **/

	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	main,
	menu,
	nav,
	section,
	summary { display: block; }

	audio,
	canvas,
	progress,
	video {
		display: inline-block;
		vertical-align: baseline;
	}


/** Links
================================================== **/

	a {
		background-color: transparent;
		text-decoration: none;
		color: inherit;
		cursor: pointer;
	}


/** Typography
================================================== **/

	b,
	strong { font-weight: bold; }

	small { font-size: 80%; }

	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	sup { top: -0.5em; }
	sub { bottom: -0.25em; }


/** Embedded content
================================================== **/

	img {
		max-width: 100%;
		vertical-align: middle;
	}


/** Grouping content
================================================== **/

	pre { overflow: auto; }

	code,
	kbd,
	pre,
	samp {
		font-family: monospace;
		font-size: 1em;
	}


/** Forms
================================================== **/

	button,
	input,
	optgroup,
	select,
	textarea {
		color: inherit;
		font: inherit;
	}

	button,
	html input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		-webkit-appearance: button;
		cursor: pointer;
	}

	button[disabled],
	html input[disabled] { cursor: default; }

	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

	textarea {
		overflow: auto;
		resize: none;
	}


/** Tables
================================================== **/

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}


/** Lists
================================================== **/

	ul,
	ol { list-style: none; }
